<div class="mt-4">
    <h2> Khoá học của tôi </h2>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khoá học</th>
                <th scope="col">level</th>
                <th scope="col" colspan="2">Thời gian tạo</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum 1 @index}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link"> Sửa </a>
                </td>
                <td>
                    <a href="/courses/" class="btn btn-link"> Xoá </a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>