<div class='mt-4'>
    <h2> Khoá học đã xoá </h2>
    <a href="/me/stored-courses" type="button" class="btn btn-link"> Danh sách khoá học </a>
    <table class='table mt-4'>
        <thead>
            <tr>
                <th scope='col'>#</th>
                <th scope='col'>Tên khoá học</th>
                <th scope='col'>level</th>
                <th scope='col' colspan='2'>Thời gian xoá</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope='row'>{{sum 1 @index}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a href='/courses/' class='btn btn-link btn-restore' data-toggle='modal'
                        data-target='#restore-course-modal' data-id='{{this._id}}'> khôi phục </a>
                </td>
                <td>
                    <a href='/courses/' class='btn btn-link' data-toggle='modal' data-target='#destroy-course-modal'
                        data-id='{{this._id}}'> xoá vĩnh viễn </a>
                </td>
            </tr>
            {{/each}}


        </tbody>
    </table>



    <div class='modal fade' id='destroy-course-modal' tabindex='-1' role='dialog' aria-labelledby='destroy-course-modal'
        aria-hidden='true'>
        <div class='modal-dialog' role='document'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <h5 class='modal-title' id='destroy-course-modal'>Xoá khoá học</h5>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                        <span aria-hidden='true'>&times;</span>
                    </button>
                </div>
                <div class='modal-body'>
                    Hành động này không thể hoàn tác. Bạn đã chắc chắn xoá khoá học này ?
                </div>
                <div class='modal-footer'>
                    <button type='button' class='btn btn-primary' id='btn-destroy-modal'> Xoá vĩnh viễn</button>
                    <button type='button' class='btn btn-danger' data-dismiss='modal'> Huỷ </button>
                </div>
            </div>
        </div>
    </div>

    <form method='POST' action='' id='form-destroy-course'></form>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            var form = document.getElementById('form-destroy-course');
            var btn_destroy_modal = document.getElementById('btn-destroy-modal');
            //var btn_restore = document.getElementsByClassName('btn-restore');
            var btn_restore = $('.btn-restore'); 

            $('#destroy-course-modal').on('show.bs.modal', (event) => {
                var button = $(event.relatedTarget);
                var id = button.data('id');
                form.action = '/courses/' + id + '/destroy' + '?_method=DELETE';
            });

            btn_destroy_modal.onclick = () => {
                form.submit();
            }

            /*
            for (let btn of btn_restore) {
                btn.onclick = () => {
                    var id = btn.getAttribute('data-id');
                    form.action = '/courses/' + id + '/restore' + '?_method=PATCH';
                    form.submit(); 
                }
            }
            */

            btn_restore.click(function() {
                var id = $(this).data('id'); 
                form.action = '/courses/' + id + '/restore' + '?_method=PATCH';
                form.submit(); 
            });

        });

    </script>
</div>